/* .nav1 {
    margin-top: 0px;
    margin-bottom: 40px;
    text-align: center;
    padding: 20px;
} */
.nav1 {
  display: flex;
  /* margin-top: 0px; */
  margin-bottom: 40px;
  text-align: center;
  justify-content: space-between;
  width: fit-content;
  padding: 20px 60px;
}
.header {
  text-align: center;
  padding: 10px;
}

ul {
  display: flex;
  /* padding: 20px 60px; */
  /* float: ; */
  /* text-align: center; */
  list-style-type: none;
}
li {
  /* padding-left: 60px; */
  /* margin-left: 40px; */
  text-align: center;
  justify-content: space-between;
  width: fit-content;
  padding: 20px 60px;
}

.header {
  padding: 10px;
  font-family: "Google Sans", sans-serif;
  font-size: 1.25rem;
  background-color: #de3334;
  color: #fff;
}
